$rosewater: #f5e0dc;
$flamingo: #f2cece;
$pink: #f5c2e7;
$fuchsia: #f5c2f3;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$lavender: #b4befe;
$blue: #89b4fa;
$text: #e9b4ee;
$subtext1: #d0a5d4;
$subtext0: #ba93bd;
$overlay2: #9d78a1;
$overlay1: #8c6d8d;
$overlay0: #735d74;
$surface2: #5e4a5e;
$surface1: #483748;
$surface0: #322432;
$base: #1c111b;
$mantle: #100a0f;
$crust: #030203;